<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/styles/style.css" rel="stylesheet" />
<link href="/styles/blog.css" rel="stylesheet" />
<link href="/styles/custom-style.css" rel="stylesheet" />
{% include "components/dgViewBlogContextFunctions.njk" %}
{% favicons './src/site/favicon.svg', appleIconBgColor='#18181b' %}
