---
title: 时间线
permalink: blog/timeline/index.html
---

<div class="blog-timeline">
  <h1 class="blog-page-title">时间线</h1>
  <p class="blog-lead">按创建/更新时间归组。同一篇在创建月份下列出。</p>
  {% set groups = collections.blogPosts | blogTimelineGroups %}
  {% for y in groups %}
    <section class="blog-timeline__year" aria-labelledby="y-{{ y.year }}">
      <h2 class="blog-timeline__year-title" id="y-{{ y.year }}">{{ y.year }}</h2>
      {% for m in y.months %}
        <div class="blog-timeline__month">
          <h3 class="blog-timeline__month-title">{{ m.monthLabel }}</h3>
          <ul class="blog-timeline__posts" role="list">
            {% for post in m.posts %}
              <li>
                <a href="{{ post.url | withBlogContext }}">{{ post.data.title | default(post.fileSlug) }}</a>
                <time class="blog-timeline__time" datetime="{{ post.data.created | default(post.data.updated) }}">
                  {{ post | blogDateFormat }}
                </time>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </section>
  {% endfor %}
</div>
