<nav class="owen-garden-links" aria-label="个人站点">
  <a href="/">
    <i data-lucide="house"></i>
    <span>主页</span>
  </a>
  <a href="/blog/">
    <i data-lucide="notebook-tabs"></i>
    <span>博客</span>
  </a>
</nav>
